html {
	height: 100%;
}
body {
	height: calc(100% - 200px);
	font: bold 20px/50px Arial;
	margin: 0;
	padding: 100px;
}
p {
	line-height: 30px;
}
table {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	width: 522px;
}
td, th {
	width: 50px;
	height: 50px;
}
th {
	color: #666;
}
td {
	font-size: 40px;
	position: relative;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
	background: #999;
}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
	background: #eee;
}
.stepfrom {
	background: blue !important;
}

/* figures */
.white:after {
	color: yellow;
}
.black:after {
	color: red;
}
.white.king:after {
	content: "\2654";
}
.white.queen:after {
	content: "\2655";
}
.white.rook:after {
	content: "\2656";
}
.white.bishop:after {
	content: "\2657";
}
.white.knight:after {
	content: "\2658";
}
.white.pawn:after {
	content: "\2659";
}
.black.king:after {
	content: "\265A";
}
.black.queen:after {
	content: "\265B";
}
.black.rook:after {
	content: "\265C";
}
.black.bishop:after {
	content: "\265D";
}
.black.knight:after {
	content: "\265E";
}
.black.pawn:after {
	content: "\265F";
}
